*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Fredoka', sans-serif;
}
.contenitore{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}
.foto{
display: block;
float: left;
}


.box{
    width: 350px;
    height: 100px;
    border: 2px solid black;
    display: block;
    float: left;
}

img{
    float: left;
    width: 100px;
}