*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Fredoka', sans-serif;
}
h2{
    font-size: 16px;
}

.contenitore{
    max-width: 1000px;
    text-align: center;
    margin: 0 auto;
}

.contenitore::after{
    content: '';
    display: block;
    clear: both;
}

.foto{
display: block;
float: left;
width: 100px;
height: 100px;
}


.box{
    width: calc(100% / 3 - 30px);
    height: 100px;
    border: 1px solid black;
    float: left;
    margin:15px;
    background-color: black;
    color: white;
    text-align: start;
}

.foto img{
    width: 100px;
}

.box::after{
    content: '';
    display: block;
    clear: both;
}

.descrizione{
    padding: 10px;
    display: block;
    float: left;
    width: calc(100% - 100px);
}

a{
    color: #0093e7;
    text-decoration: none;
    font-style: italic;
}